<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos de internet, ubicación y estado de red -->
    <!-- CAMBIO CSV: permiso para mostrar notificaciones en Android 13 o superior -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permiso de cámara, por si se usa captura de fotos -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- La cámara no es obligatoria para instalar la app -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="application/pdf" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_agroindustry"
        android:label="App Monitoreo"
        android:roundIcon="@drawable/logo_agroindustry"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="false"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

        <activity
            android:name="com.example.myapplication.local.core.MainActivity"
            android:exported="true"
            android:label="App Monitoreo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
